[Unit]
Description=Scan files by ClamAV virus files
# If user wants it run from cron, don't start the daemon.

[Service]
ExecStart=/usr/bin/clamscan -l /var/log/clamav/clamscan.log --recursive --infected /home
# or -r -i

[Install]
WantedBy=multi-user.target
