[Unit]
Description=Daily scan of clamscan

[Timer]
OnCalendar=Wed *-*-* 23:59:59
# OnCalendar=*/4 *-*-* 23:59:59
# OnCalendar=*-*-* 23:59:59
Persistent=true

[Install]
WantedBy=timers.target
